asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
coverage==6.3.2
Django==4.0.3
django-mock-queries==2.1.7
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
fastdiff==0.3.0
idna==3.3
itypes==1.2.0
Jinja2==3.0.3
MarkupSafe==2.1.1
mock==4.0.3
model-bakery==1.4.0
Pillow==9.0.1
PyJWT==2.3.0
pytz==2021.3
randomuser==1.6
requests==2.27.1
six==1.16.0
snapshottest==0.6.0
sqlparse==0.4.2
termcolor==1.1.0
uritemplate==4.1.1
urllib3==1.26.8
wasmer==1.1.0
wasmer_compiler_cranelift==1.1.0
